header{
 background-color:red;
 
}

a {
  font-size:50px;
  color: black;
}
footer{
background-color:blue
}
mob{
width: 100px;
height: 100px;
}


{
 
}
p {
font-size:50px;
color:white;
}

li {
font-size: 25px;
color: black;
}

.box1{
display:block;
border:5px solid black;
width:250px;
height:250px;
background-color:yellow;
margin: 80px;
padding:50px
 
}